/* TODO: consider creating <Button> component */
a,
.btn {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--color-secondary);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-secondary), 0 0 0 4px transparent;
  }
}

/* Gradient text styles removed */
