[data-theme="light"] {
  --color-primary: #70C7BA; /* Adjust as per your primary color */
    --color-secondary: #3b82f6; /* Adjust as per your secondary color */
    --color-text: #1f2937; /* Adjust as per your text color */
    --color-text-offset: #6b7280; /* Adjust as per your text offset color */
    --color-background: #B6B6B6; /* Adjust as per your background color */
    --color-background-offset: #e5e7eb; /* Adjust as per your background offset color */
    --color-border: rgba(31, 41, 55, 0.1); /* Adjust as per your border color */
}

[data-theme="dark"] {
  --color-primary: #70C7BA; /* Adjust as per your dark theme primary color */
  --color-secondary: #2563eb; /* Adjust as per your dark theme secondary color */
  --color-text: #f9fafb; /* Adjust as per your dark theme text color */
  --color-text-offset: #d1d5db; /* Adjust as per your dark theme text offset color */
  --color-background: #231F20; /* Adjust as per your dark theme background color */
  --color-background-offset: #374151; /* Adjust as per your dark theme background offset color */
  --color-border: rgba(249, 250, 251, 0.1); /* Adjust as per your dark theme border color */
}
