---
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import Intro from "~/components/intro.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";
---

<html lang="en" class="h-full scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      rel="stylesheet"
    />

    <title>Astro Landing Page</title>
  </head>
  <body
    class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
  >
    <Splash />
    <div class="px-8 py-32 space-y-24">
      <Intro />
      <Features />
      <Compatibility />
    </div>
  </body>
</html>
