---
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";
---

<html lang="en" class="h-full scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      />
    </noscript>

    <title>Astro Landing Page</title>
    <meta
      name="description"
      content="Build fast websites, faster. Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer experience."
    />
  </head>
  <body
    class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="px-8 py-32 space-y-24">
      <Intro />
      <Features />
      <Compatibility />
      <Showcase />
    </div>
    <Footer />
  </body>
</html>
