---
import { Icon } from "astro-icon";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      rel="stylesheet"
    />

    <title>Astro</title>
  </head>
  <body>
    <h1 class="flex items-center gap-1 text-3xl font-extrabold text-indigo-500">
      <Icon class="h-10" pack="mdi" name="rocket" />
      <span>Astro</span>
    </h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </body>
</html>
