---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="flex flex-col items-center gap-4 space-y-8 scroll-mt-24"
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2
      class="text-6xl font-extrabold tracking-tight text-center gradient-text"
    >
      {title}
    </h2>
  </div>
  <p class="max-w-xl text-2xl font-extrabold text-center">
    <slot name="lead" />
  </p>
  <slot />
</section>
