---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Fair Launch",
    description: "No pre-allocation, no presale, and no taxes.",
    icon: "mdi:handshake",
  },
  {
    title: "Community Funded",
    description: "Entirely supported by the community.",
    icon: "mdi:account-group",
  },
  {
    title: "Launch Timeline",
    description:
      "Scheduled for the end of June 2024 or early July 2024, pending the activation of the KRC20 protocol on the Kaspa Mainnet.",
    icon: "mdi:calendar",
  },
  {
    title: "Showcase Kaspa Network",
    description: "Demonstrate what’s possible on the Kaspa network through the use of KRC20 tokens.",
    icon: "mdi:network",
  },
  {
    title: "Inspire Innovation",
    description: "Encourage other communities to develop new projects, such as KRC20 Stablecoins, or to migrate ERC20 tokens to Kaspa to reduce gas costs.",
    icon: "mdi:lightbulb-on",
  },
  {
    title: "Set a Benchmark",
    description: "Establish a new standard for memecoins on Kaspa, paving the way for future projects.",
    icon: "mdi:star",
  },
];

---

<ContentSection title="Character Inspiration" id="features">
  <Fragment slot="lead">
    He embodies energy, spirituality, and strength, being a non-meat eater who regularly works out at the gym.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
