---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Islamic History",
    description:
      "Mengungkap fakta sejarah kegemilangan dunia Islam di masa lalu",
    icon: "mdi:handshake",
  },
  {
    title: "New Experience",
    description:
      "Memberi pengalaman baru mengenal dan menyelami dunia Islam lebih dalam",
    icon: "mdi:feather",
  },
  {
    title: "Exclusive Moment",
    description:
      "Acara expo pertama di Indonesia yang mengangkat tema History Islam ",
    icon: "mdi:directions-fork",
  },
  {
    title: "Broad Integration",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any of your favorite npm packages.",
    icon: "mdi:graph",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication.",
    icon: "mdi:search-web",
  },
  {
    title: "Community",
    description:
      "Bergabung dan bersinergi bersama komunitas muslim dari berbagai generasi",
    icon: "mdi:account-group",
  },
];
---

<div class="flex scroll-mt-24 flex-col items-center gap-4 space-y-2">
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</div>
