---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://astro.build/",
    description: "Astro's official website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/mhyfritz/astro-landing-page",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://astro.build/chat",
    description: "Astro on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex items-center justify-center h-64">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex items-center justify-center w-16 h-16 p-4 border-2 border-current rounded-full"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
