---
import { Icon } from "astro-icon";
---

<section class="flex flex-col items-center gap-12">
  <div class="flex flex-col items-center gap-4">
    <Icon name="logomark" class="h-32" />
    <h2
      class="text-6xl font-extrabold tracking-tight text-center text-gradient gradient-default"
    >
      Just ship less
    </h2>
  </div>
  <div class="space-y-2">
    <p>
      <span class="text-secondary">Lorem ipsum</span> dolor sit amet consectetur
      adipisicing elit. Ipsa, adipisci.
    </p>
    <p class="text-offset">Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="w-full max-w-xl p-4 border bg-offset border-default">
    Lorem ipsum dolor sit amet.
  </div>
  <a class="transition-colors text-primary hover:text-secondary" href="#"
    >Go here.</a
  >
  <div>
    <button
      class="px-6 py-4 transition-colors border-2 border-current hover:text-secondary focus:outline-none focus:ring-4 focus:ring-secondary"
      >Click</button
    >
  </div>
</section>
