---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="More than just a memecoin" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="size-20" /> -->
  <Fragment slot="lead">
    It aims to set a new standard for memecoins on Kaspa. 
    With the upcoming launch of the Kasplex protocol and KRC20 Tokens,<br>
    <span class="text-primary">Pepeheavyhash aims to set a new standard for powerful memecoins on Kaspa.</span>
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Whitepaper</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Mint</span>
    </a>
  </div>
</ContentSection>

