---
import { Icon } from "astro-icon";
---

<section class="h-full bg-black">
  <div class="relative flex items-center justify-center h-full">
    <h2>
      <div class="flex flex-col gap-2 sm:gap-4">
        <Icon name="logomark" class="h-24 text-white md:h-32" />
        <div
          class="font-extrabold tracking-tighter text-center text-8xl text-gradient gradient-default"
        >
          Build fast<br /> websites,<br /> faster.
        </div>
      </div>
    </h2>
  </div>
</section>
