---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import ContentSection from "./content-section.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-50">
    <HeroImage />
  </div>
  <div class="relative grid h-full grid-cols-1 place-items-center px-4">
    <h2 class="flex flex-col gap-2">
      <Icon name="logomark" class="h-24 text-white md:h-32" />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        It is Time <br /> to be One Ummah
      </div>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
